.slider-svg-container {
  display: flex;
}

#slider2 {
  margin-top: 40px;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
}

.slider2val3::-webkit-slider-thumb {
  background: url("/emojis/confused.svg");
}

.slider2val1::-webkit-slider-thumb {
  background: url("/emojis/unhappy.svg");
}

.slider2val2::-webkit-slider-thumb {
  background: url("/emojis/sad.svg");
}

.slider2val4::-webkit-slider-thumb {
  background: url("/emojis/smiling.svg");
}

.slider2val5::-webkit-slider-thumb {
  background: url("/emojis/happy.svg");
}
